.modal-backdrop{
    display: flex;
    height: 100vh;
    width: 100vw;

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    background-color: rgb(5, 5, 230);
    opacity: .6;
}

.import-modal-container{
    height: fit-content;
    width: 45vw;

    margin: auto;

    backdrop-filter: blur(10px);

    background-color: white;
    border-radius: 10px;
    
    animation: fadeDownIn 1s;
}

.import-modal-header{
    color: black;

    text-align: center;
    font-weight: 900;
}

.import-button-container{
    display: flex;
    width: 100%;
    height: 60%;

    justify-content: center;
    align-items: center;

    border-top: solid rgb(5, 5, 230, 0.8) 10px;
}

.container-off{
    display: none;
}

.container-on{
    width: 100%;
    height: 60vh;

    overflow: auto;
}

@keyframes fadeDownIn {
    0% { opacity: 0; }
    100% { opacity: 1; transform: translateY(10px); }
  }
