.main-body-container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.filt-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    margin: 20px;
}

.body_container{
  display: flex;
}

.left_container{
  width: 25Vw;
  margin-right: 5%;
  background: rgba(126, 125, 125, 0.247);
}

.left_container{
  width: 75Vw;
}

.header-buttons{
    background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  touch-action: manipulation;
}

.header-buttons:hover, .header-buttons:active{
    background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.header-buttons:active{
    opacity: .5;
}

.filter-modal-overlay-container{
  display: flex;
  justify-content: center;
  align-items: center;
}