.filt_wrapper{
    position: relative;
    z-index: 1;
}

.filter-modal-overlay-container{
    display: flex;

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
}

.filt_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.678);
    transition: ease .5s;
}

.filt_overlay:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
}

.filt_overlay:hover + .filt_modal{
    transform: scale(.95);
    filter: blur(3px);
    

}

.clear-filter-button {
    width: 180px;
    height: 25px;
    color:white;
    border:solid rgb(116, 116, 116) 1px;
    border-radius: 5px;
    background-color: transparent;
}

.filt_modal{
    position: fixed;
    top: 36%;
    left: 70%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 2%;
    z-index: 1000;

    height: fit-content;
    width: 50vw;

    background-color: #FFF;
    z-index: 2000;

    transition: ease .4s;
}

#filt_container{ 
    display: grid;
    margin-left: 2%;
    margin-top: 5%
}

#filt_subcontainer{
    display:block;
    width: auto;
}

#filt_title{    
    font-size: medium;
    color: white;
    font-family: 'kelsonsans-bold';
    white-space: nowrap;
    margin-right: 5px;
}