.filt_wrapper{
    position: relative;
    z-index: 1;
}

.filt_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.filt_modal{
    position: fixed;
    top: 36%;
    left: 70%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 2%;
    z-index: 1000;
}

#filt_container{
    display: grid;
    margin-left: 2%;
    margin-top: 5%
}

#filt_subcontainer{
    display: flex;
}

#filt_title{
    font-size: 105%;
    font-weight: normal;
    margin-right: 5%;
}