.student-search-bar {
    font-family: 'KelsonSans';
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(247,130,24,1);
    margin-bottom: 5px;
}