
.student-card {
    color: white;
    height: fit-content;
    width: 150px;
    border: none;
    padding: 5%;
    text-align: center;
    font-family: 'kelsonsans-light';
    border-radius: 10px;
    margin: 2%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.un-satisfactory-card {
    background-color:rgba(255, 0, 0, 0.400);
}

.in-progress-card {
    background-color:rgba(255, 196, 0, 0.4);
}

.completed-card {
    background-color:rgba(0, 255, 0, 0.4);
}

.student-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color:rgb(68, 66, 66);

    transition: ease 0.4s;
}

.student-card-name {
    display:block;
    font-size:100%;
    margin:5%;
    border:none;
    border-radius:10px;
    padding:3%;
    white-space: nowrap;

}

.student-card-cohort {
    display:block;
    font-size:100%;
    margin:5%;
    border:none;
    border-radius:10px;
    padding:3%;
    white-space: nowrap;
}

.student-card-manager {
    display:block;
    font-size:100%;
    margin:5%;
    border:none;
    border-radius:10px;
    padding:3%;
    white-space: nowrap;
}