.student-card-container {
  display: grid;
  width: 70vw;
  height: 90vh;
  background: rgba(126, 125, 125, 0.247);
  overflow: auto;

  padding: 15px;
  margin-left: auto;
  margin-right: auto;

  border:solid white 2px;
  border-radius: 10px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 5px;
  align-items: stretch;
}